# AIR QUALITY AND HEALTH IMPACT

### Trong ƒë·ªì √°n n√†y, nh√≥m ch√∫ng em xin ph√©p ƒë∆∞·ª£c tr√¨nh b√†y m·ªôt quy tr√¨nh Khoa H·ªçc D·ªØ Li·ªáu v·ªõi dataset v·ªÅ ·∫£nh h∆∞·ªüng c·ªßa ch·∫•t l∆∞·ª£ng kh√¥ng kh√≠ ƒë·ªëi v·ªõi s·ª©c kh·ªèe.

### C√°c b∆∞·ªõc th·ª±c hi·ªán:
* Ti·ªÅn x·ª≠ l√Ω d·ªØ li·ªáu.
* ƒê∆∞a ra c√°c c√¢u h·ªèi.
* Ph√¢n t√≠ch v√† ƒë√°nh gi√°.

#### L√Ω do ch·ªçn b·ªô d·ªØ li·ªáu:
* Trong t√¨nh h√¨nh b·ªëi c·∫£nh hi·ªán nay, nh·ªØng t√°c ƒë·ªông c·ªßa √¥ nhi·ªÖm kh√¥ng kh√≠ ƒë·∫øn s·ª©c kh·ªèe tr·ªü n√™n r√µ r√†ng h∆°n bao gi·ªù h·∫øt. Do ƒë√≥ vi·ªác ph√¢n t√≠ch b·ªô d·ªØ li·ªáu n√†y mang l·∫°i gi√° tr·ªã trong vi·ªác tƒÉng nh·∫≠n th·ª©c c·ªông ƒë·ªìng v√† h·ªó tr·ª£ x√¢y d·ª±ng c√°c bi·ªán ph√°p c·∫£i thi·ªán.
* B·ªô d·ªØ li·ªáu n√†y phong ph√∫ cho ph√©p ta ph√¢n t√≠ch nhi·ªÅu kh√≠a c·∫°nh kh√°c nhau, t·ª´ ƒëo l∆∞·ªùng m·ª©c ƒë·ªô √¥ nhi·ªÖm ƒë·∫øn d·ª± ƒëo√°n t√°c ƒë·ªông s·ª©c kh·ªèe.

#### Th√¥ng tin v·ªÅ b·ªô d·ªØ li·ªáu:
* ƒê∆∞·ªùng d·∫´n c·ªßa b·ªô d·ªØ li·ªáu: [üåç Air Quality and Health Impact Datasetüåç](https://www.kaggle.com/datasets/rabieelkharoua/air-quality-and-health-impact-dataset).
* B·ªô d·ªØ li·ªáu ƒë∆∞·ª£c l·∫•y t·ª´ [Kaggle](https://www.kaggle.com).
* T·∫≠p d·ªØ li·ªáu n√†y ƒë∆∞·ª£c chia s·∫ª b·ªüi **Rabie El Kharoua**. N√≥ ƒë∆∞·ª£c cung c·∫•p theo gi·∫•y ph√©p **CC BY 4.0**, cho ph√©p m·ªçi ng∆∞·ªùi s·ª≠ d·ª•ng t·∫≠p d·ªØ li·ªáu d∆∞·ªõi m·ªçi h√¨nh th·ª©c mi·ªÖn l√† t√°c gi·∫£ ƒë∆∞·ª£c tr√≠ch d·∫´n th√≠ch h·ª£p.

## Khai b√°o c√°c th∆∞ vi·ªán c·∫ßn thi·∫øt

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Kh√°m ph√° d·ªØ li·ªáu
### ƒê·ªçc d·ªØ li·ªáu t·ª´ file v√†o dataframe.

In [2]:
file_name = './data/air_quality_health_impact_data.csv'
raw_df = pd.read_csv(file_name)
raw_df.head()

,RecordID,AQI,PM10,PM2_5,NO2,SO2,O3,Temperature,Humidity,WindSpeed,RespiratoryCases,CardiovascularCases,HospitalAdmissions,HealthImpactScore,HealthImpactClass
0,1,187.270059,295.853039,13.038560,6.639263,66.161150,54.624280,5.150335,84.424344,6.137755,7,5,1,97.244041,0.0
1,2,475.357153,246.254703,9.984497,16.318326,90.499523,169.621728,1.543378,46.851415,4.521422,10,2,0,100.000000,0.0
2,3,365.996971,84.443191,23.111340,96.317811,17.875850,9.006794,1.169483,17.806977,11.157384,13,3,0,100.000000,0.0
3,4,299.329242,21.020609,14.273403,81.234403,48.323616,93.161033,21.925276,99.473373,15.302500,8,8,1,100.000000,0.0
4,5,78.009320,16.987667,152.111623,121.235461,90.866167,241.795138,9.217517,24.906837,14.534733,9,0,1,95.182643,0.0

### C√≥ bao nhi√™u d√≤ng v√† c·ªôt c·ªßa b·ªô d·ªØ li·ªáu th√¥ n√†y?
Ti·∫øp theo, ta s·∫Ω t√≠nh s·ªë d√≤ng v√† s·ªë c·ªôt c·ªßa DataFrame 'raw_df' v√† l∆∞u tr·ªØ n√≥ v√†o bi·∫øn 'shape' (tuple).

**N·∫øu d·ªØ li·ªáu c√≥ s·ªë d√≤ng nh·ªè h∆°n 1000, th√¨ ta s·∫Ω t√¨m b·ªô li·ªáu kh√°c c≈©ng li√™n quan ƒë·∫øn ch·ªß ƒë·ªÅ n√†y.**

In [3]:
shape = raw_df.shape

In [4]:
print(f"Current shape: {shape}")

if shape[0] > 1000:
    print(f"Our data good!.")
else:
    print(f"Our raw data absolutely small. Please choose a different dataset.!")

Current shape: (5811, 15)
Our data good!.

### M·ªói d√≤ng c√≥ √Ω nghƒ©a g√¨?

* M·ªói d√≤ng l√† m·ªôt b·∫£n ghi l∆∞u tr·ªØ th√¥ng tin v·ªÅ ch·ªâ s·ªë ch·∫•t l∆∞·ª£ng kh√¥ng kh√≠ (AQI), n·ªìng ƒë·ªô c√°c ch·∫•t √¥ nhi·ªÖm kh√°c nhau, ƒëi·ªÅu ki·ªán th·ªùi ti·∫øt v√† s·ªë li·ªáu t√°c ƒë·ªông ƒë·∫øn s·ª©c kh·ªèe c·ªßa ch√∫ng ƒë·∫øn con ng∆∞·ªùi t·∫°i m·ªôt th·ªùi ƒëi·ªÉm trong m·ªôt khu v·ª±c.
* B·ªô d·ªØ li·ªáu kh√¥ng l∆∞u tr·ªØ th√¥ng tin v·ªÅ th·ªùi gian v√† ƒë·ªãa ƒëi·ªÉm v√¨ n√≥ kh√¥ng c√≥ √Ω nghƒ©a trong vi·ªác ph√¢n t√≠ch ·∫£nh h∆∞·ªüng ch·∫•t l∆∞·ª£ng kh√¥ng kh√≠ ƒë·∫øn s·ª©c kh·ªèe.

#### D·ªØ li·ªáu th√¥ c√≥ d√≤ng n√†o b·ªã tr√πng kh√¥ng?
Ti·∫øp theo, ch√∫ng ta t√≠nh to√°n s·ªë d√≤ng b·ªã tr√πng v√† l∆∞u tr·ªØ n√≥ v√†o bi·∫øn 'num_duplicated_rows'.

In [5]:
num_duplicated_rows = raw_df[raw_df.duplicated()].shape[0]

In [6]:
if num_duplicated_rows == 0:
    print(f"Our raw data have no duplicated line.!")
else:
    if num_duplicated_rows > 1:
        ext = "lines"
    else:
        ext = "line"
    print(f"Our raw data have {num_duplicated_rows} duplicated " + ext + ". Please de-deduplicate your raw data.!")

Our raw data have no duplicated line.!

### M·ªói c·ªôt c√≥ √Ω nghƒ©a g√¨?

**RecordID**: ID c·ªßa m·ªói b·∫£n ghi (1 t·ªõi 5811).

**AQI**: Air Quality Index, ƒëo l∆∞·ªùng m·ª©c ƒë·ªô √¥ nhi·ªÖm kh√¥ng kh√≠ hi·ªán t·∫°i.

**PM10**: N·ªìng ƒë·ªô b·ª•i m·ªãn c√≥ ƒë∆∞·ªùng k√≠nh nh·ªè h∆°n 10 micromet (Œºg/m¬≥).

**PM2_5**: N·ªìng ƒë·ªô b·ª•i m·ªãn c√≥ ƒë∆∞·ªùng k√≠nh nh·ªè h∆°n 2.5 micromet (Œºg/m¬≥).

**NO2**: N·ªìng ƒë·ªô kh√≠ nitrogen dioxide (ppb).

**SO2**: N·ªìng ƒë·ªô kh√≠ sulfur dioxide (ppb).

**O3**: N·ªìng ƒë·ªô kh√≠ ozone (ppb).

**Temperature**: Nhi·ªát ƒë·ªô m√¥i tr∆∞·ªùng, t√≠nh b·∫±ng ƒë·ªô C (¬∞C).

**Humidity**: ƒê·ªô ·∫©m kh√¥ng kh√≠, t√≠nh b·∫±ng ph·∫ßn trƒÉm (%).

**WindSpeed**: T·ªëc ƒë·ªô gi√≥, t√≠nh b·∫±ng m√©t tr√™n gi√¢y (m/s).

**RespiratoryCases**: S·ªë l∆∞·ª£ng c√°c tr∆∞·ªùng h·ª£p b·ªánh li√™n quan ƒë·∫øn ƒë∆∞·ªùng h√¥ h·∫•p ƒë∆∞·ª£c ghi nh·∫≠n.

**CardiovascularCases**: S·ªë l∆∞·ª£ng c√°c tr∆∞·ªùng h·ª£p b·ªánh tim m·∫°ch ƒë∆∞·ª£c ghi nh·∫≠n.

**HospitalAdmissions**: S·ªë l∆∞·ª£t nh·∫≠p vi·ªán ƒë∆∞·ª£c ghi nh·∫≠n.

**HealthImpactScore**: ƒêi·ªÉm ƒë√°nh gi√° t√°c ƒë·ªông s·ª©c kh·ªèe t·ªïng th·ªÉ d·ª±a tr√™n ch·∫•t l∆∞·ª£ng kh√¥ng kh√≠ v√† c√°c y·∫øu t·ªë li√™n quan kh√°c, v·ªõi thang ƒëi·ªÉm t·ª´ 0 ƒë·∫øn 100.

**HealthImpactClass**: Ph√¢n lo·∫°i t√°c ƒë·ªông s·ª©c kh·ªèe d·ª±a tr√™n ƒëi·ªÉm s·ªë HealthImpactScore:
* 0: Very High - T√°c ƒë·ªông r·∫•t cao (HealthImpactScore ‚â• 80).

* 1: High - T√°c ƒë·ªông cao (60 ‚â§ HealthImpactScore < 80).

* 2: Moderate - T√°c ƒë·ªông trung b√¨nh (40 ‚â§ HealthImpactScore < 60).

* 3: Low - T√°c ƒë·ªông th·∫•p (20 ‚â§ HealthImpactScore < 40).

* 4: Very Low - T√°c ƒë·ªông r·∫•t th·∫•p (HealthImpactScore < 20).‚Äã

Tr∆∞·ªõc khi ki·ªÉm tra ki·ªÉu d·ªØ li·ªáu c·ªßa c√°c thu·ªôc t√≠nh trong dataframe, ch√∫ng ta quan s√°t th√¨ th·∫•y c·ªôt RecordID c√≥ th·ªÉ d√πng l√†m index.

In [7]:
raw_df = raw_df.set_index('RecordID')

In [8]:
raw_df

,AQI,PM10,PM2_5,NO2,SO2,O3,Temperature,Humidity,WindSpeed,RespiratoryCases,CardiovascularCases,HospitalAdmissions,HealthImpactScore,HealthImpactClass
RecordID,,,,,,,,,,,,,,
1,187.270059,295.853039,13.038560,6.639263,66.161150,54.624280,5.150335,84.424344,6.137755,7,5,1,97.244041,0.0
2,475.357153,246.254703,9.984497,16.318326,90.499523,169.621728,1.543378,46.851415,4.521422,10,2,0,100.000000,0.0
3,365.996971,84.443191,23.111340,96.317811,17.875850,9.006794,1.169483,17.806977,11.157384,13,3,0,100.000000,0.0
4,299.329242,21.020609,14.273403,81.234403,48.323616,93.161033,21.925276,99.473373,15.302500,8,8,1,100.000000,0.0
5,78.009320,16.987667,152.111623,121.235461,90.866167,241.795138,9.217517,24.906837,14.534733,9,0,1,95.182643,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5807,171.112762,11.246387,197.984628,158.643107,17.743678,280.370909,37.359323,61.707640,4.097129,14,5,2,100.000000,4.0
5808,490.691667,275.340762,55.774170,132.336871,29.334724,108.043492,34.532542,21.528555,6.682549,8,6,2,100.000000,3.0
5809,314.841798,41.892699,184.708551,82.105823,68.334578,105.568503,22.975564,92.725625,2.889698,12,2,3,100.000000,1.0
5810,208.080473,165.533785,199.177255,100.796385,87.586488,166.469537,36.090620,25.836286,10.722393,6,2,3,100.000000,4.0
5811,83.269257,82.216262,119.968244,193.440691,79.849177,28.681885,18.239090,77.096194,16.410320,14,2,2,81.668298,0.0

#### Ki·ªÉu d·ªØ li·ªáu c·ªßa m·ªói c·ªôt hi·ªán t·∫°i l√† g√¨? C√≥ bao nhi√™u c·ªôt c√≥ ki·ªÉu d·ªØ li·ªáu kh√¥ng ph√π h·ª£p cho vi·ªác ph√¢n t√≠ch sau n√†y?

Ti·∫øp theo, ch√∫ng ta s·∫Ω xem x√©t ki·ªÉu d·ªØ li·ªáu (dtype) c·ªßa m·ªói c·ªôt trong DataFrame 'raw_df' v√† l∆∞u k·∫øt qu·∫£ v√†o Series 'dtypes' (Series n√†y c√≥ index l√† t√™n c·ªôt trong DataFrame).

In [9]:
dtypes = raw_df.dtypes

In [10]:
dtypes

AQI                    float64
PM10                   float64
PM2_5                  float64
NO2                    float64
SO2                    float64
O3                     float64
Temperature            float64
Humidity               float64
WindSpeed              float64
RespiratoryCases         int64
CardiovascularCases      int64
HospitalAdmissions       int64
HealthImpactScore      float64
HealthImpactClass      float64
dtype: object

Ch√∫ng ta th·∫•y r·∫±ng c·ªôt 'HealthImpactClass' c√≥ ki·ªÉu d·ªØ li·ªáu numeric. Tuy nhi√™n, ƒë·ªô l·ªõn c·ªßa gi√° tr·ªã c·ªßa n√≥ kh√¥ng c√≥ √Ω nghƒ©a. V√† n√≥ th·ª±c ra bi·ªÉu di·ªÖn m·ªôt ph√¢n lo·∫°i t√°c ƒë·ªông c·ªßa ch·∫•t l∆∞·ª£ng kh√¥ng kh√≠ ƒë·ªëi v·ªõi s·ª©c kh·ªèe. V√¨ v·∫≠y, ta s·∫Ω chuy·ªÉn n√≥ s√°ng ki·ªÉu categorical.

In [11]:
raw_df['HealthImpactClass'] = raw_df['HealthImpactClass'].astype(pd.CategoricalDtype())

In [12]:
dtypes = raw_df.dtypes
dtypes

AQI                     float64
PM10                    float64
PM2_5                   float64
NO2                     float64
SO2                     float64
O3                      float64
Temperature             float64
Humidity                float64
WindSpeed               float64
RespiratoryCases          int64
CardiovascularCases       int64
HospitalAdmissions        int64
HealthImpactScore       float64
HealthImpactClass      category
dtype: object

### ƒê·ªëi v·ªõi m·ªói c·ªôt c√≥ ki·ªÉu d·ªØ li·ªáu numeric, nh·ªØng gi√° tr·ªã trong c√°c c·ªôt ƒë√≥ ph√¢n b·ªë nh∆∞ th·∫ø n√†o?

V·ªõi c√°c c·ªôt c√≥ ki·ªÉu d·ªØ li·ªáu numeric, ch√∫ng ta s·∫Ω t√≠nh:
* Ph·∫ßn trƒÉm (t·ª´ 0 ƒë·∫øn 100) c·ªßa missing values.
* Min.
* T·ª© ph√¢n v·ªã th·ª© nh·∫•t (The lower quartile).
* Trung v·ªã.
* T·ª© ph√¢mn v·ªã th·ª© ba (The upper quartile).
* Max.
Ch√∫ng ta s·∫Ω l∆∞u k·∫øt qu·∫£ v√†o m·ªôt DataFrame 'num_col_info_df':
* T√™n c√°c c·ªôt l√† t√™n c·ªßa c√°c c·ªôt d·ªØ li·ªáu numeric trong 'raw_df'.
* Index c·ªßa m·ªói h√†ng l√†: "missing_ratio", "min", "lower_quartile", "median", "upper_quartile" v√† "max".

In [13]:
def missing_ratio(series: pd.Series) -> float:
    nan_df = series.isnull()
    return nan_df.mean() * 100
    
def lower_quartile(series: pd.Series) -> float:
    if series.dtypes in [float, int]:
        return series.quantile(0.25)
    return None

def median(series: pd.Series) -> float:
    if series.dtypes in [float, int]:
        return series.quantile(0.5)
    return None

def upper_quartile(series: pd.Series) -> float:
    if series.dtypes in [float, int]:
        return series.quantile(0.75)
    return None

num_col_info_df = raw_df.select_dtypes(exclude = ['object', 'category']).agg([missing_ratio, 'min', lower_quartile, median, upper_quartile,
                                                                              'max'])

In [14]:
num_col_info_df

,AQI,PM10,PM2_5,NO2,SO2,O3,Temperature,Humidity,WindSpeed,RespiratoryCases,CardiovascularCases,HospitalAdmissions,HealthImpactScore
missing_ratio,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000
min,0.005817,0.015848,0.031549,0.009625,0.011023,0.001661,-9.990998,10.001506,0.002094,1.0,0.0,0.0,22.448488
lower_quartile,122.951293,75.374954,49.435171,53.538538,24.887264,73.999665,2.481500,31.995262,4.952343,8.0,3.0,1.0,98.203057
median,249.127841,147.634997,100.506337,102.987736,49.530165,149.559871,14.942428,54.543904,10.051742,10.0,5.0,2.0,100.000000
upper_quartile,373.630668,222.436759,151.340260,151.658516,73.346617,223.380126,27.465374,77.641639,14.971840,12.0,6.0,3.0,100.000000
max,499.858837,299.901962,199.984965,199.980195,99.969561,299.936812,39.963434,99.997493,19.999139,23.0,14.0,12.0,100.000000

Sau khi x√°c ƒë·ªãnh c√°c s·ªë li·ªáu th·ªëng k√™ c∆° b·∫£n mi√™u t·∫£ d·ªØ li·ªáu, ch√∫ng ta c·∫ßn x√°c ƒë·ªãnh nh·ªØng ƒë·∫∑c tr∆∞ng n√†o c√≥ nhi·ªÅu missing values. Nh·ªØng ƒë·∫∑c tr∆∞ng n√†y th√¨ kh√¥ng h·ªØu √≠ch trong qu√° tr√¨nh ph√¢n t√≠ch v√† ph·∫£i b·ªã x√≥a kh·ªèi b·ªô d·ªØ li·ªáu.

T√πy v√†o m·ª•c ƒë√≠ch, ng∆∞·ª°ng c·ªßa t·ª´ "nhi·ªÅu" c√≥ th·ªÉ ƒë∆∞·ª£c ta ƒë·ªãnh nghƒ©a. Th∆∞·ªùng th√¨ n·∫øu ph·∫ßn trƒÉm c·ªßa missing values l·ªõn h∆°n 75%, c·ªôt ƒë√≥ s·∫Ω b·ªã lo·∫°i b·ªè kh·ªèi dataframe v√† tr·∫£ v·ªÅ m·ªôt dataframe ƒë√£ update.

In [15]:
def drop_missing_features(df: pd.DataFrame, missing_series: pd.Series = num_col_info_df.loc['missing_ratio', :], threshold: float = 75.0) -> pd.DataFrame:
    dropedColumns = missing_series[missing_series > threshold].to_list()
    df = df.drop(columns = dropedColumns)
    return df
raw_df = drop_missing_features(raw_df)

In [16]:
raw_df.head()

,AQI,PM10,PM2_5,NO2,SO2,O3,Temperature,Humidity,WindSpeed,RespiratoryCases,CardiovascularCases,HospitalAdmissions,HealthImpactScore,HealthImpactClass
RecordID,,,,,,,,,,,,,,
1,187.270059,295.853039,13.038560,6.639263,66.161150,54.624280,5.150335,84.424344,6.137755,7,5,1,97.244041,0.0
2,475.357153,246.254703,9.984497,16.318326,90.499523,169.621728,1.543378,46.851415,4.521422,10,2,0,100.000000,0.0
3,365.996971,84.443191,23.111340,96.317811,17.875850,9.006794,1.169483,17.806977,11.157384,13,3,0,100.000000,0.0
4,299.329242,21.020609,14.273403,81.234403,48.323616,93.161033,21.925276,99.473373,15.302500,8,8,1,100.000000,0.0
5,78.009320,16.987667,152.111623,121.235461,90.866167,241.795138,9.217517,24.906837,14.534733,9,0,1,95.182643,0.0

Sau khi x√≥a nh·ªØng ƒë·∫∑c tr∆∞ng c√≥ nhi·ªÅu missing values, b·ªô d·ªØ li·ªáu c·ªßa ch√∫ng ta v·∫´n c√≥ th·ªÉ c√≥ nh·ªØng missing values. V√¨ th·∫ø, ch√∫ng ta c·∫ßn ƒëi·ªÅn nh·ªØng gi√° tr·ªã n√†y ƒë·ªÉ ch√∫ng ta c√≥ th·ªÉ s·ª≠ d·ª•ng ch√∫ng trong c√°c b∆∞·ªõc ph√¢n t√≠ch. Ch√∫ng ta s·∫Ω ƒëi·ªÅn c√°c gi√° tr·ªã c√≤n thi·∫øu n√†y b·∫±ng median c·ªßa c·ªôt.

In [17]:
def filling_missing_value(df: pd.DataFrame) -> pd.DataFrame:
    return df.fillna(num_col_info_df.loc['median'])
raw_df = filling_missing_value(raw_df)

In [18]:
raw_df.head()

,AQI,PM10,PM2_5,NO2,SO2,O3,Temperature,Humidity,WindSpeed,RespiratoryCases,CardiovascularCases,HospitalAdmissions,HealthImpactScore,HealthImpactClass
RecordID,,,,,,,,,,,,,,
1,187.270059,295.853039,13.038560,6.639263,66.161150,54.624280,5.150335,84.424344,6.137755,7,5,1,97.244041,0.0
2,475.357153,246.254703,9.984497,16.318326,90.499523,169.621728,1.543378,46.851415,4.521422,10,2,0,100.000000,0.0
3,365.996971,84.443191,23.111340,96.317811,17.875850,9.006794,1.169483,17.806977,11.157384,13,3,0,100.000000,0.0
4,299.329242,21.020609,14.273403,81.234403,48.323616,93.161033,21.925276,99.473373,15.302500,8,8,1,100.000000,0.0
5,78.009320,16.987667,152.111623,121.235461,90.866167,241.795138,9.217517,24.906837,14.534733,9,0,1,95.182643,0.0

### ƒê·ªëi v·ªõi m·ªói c·ªôt c√≥ ki·ªÉu d·ªØ li·ªáu non-numeric, nh·ªØng gi√° tr·ªã trong c√°c c·ªôt ƒë√≥ ph√¢n b·ªë nh∆∞ th·∫ø n√†o?

V·ªõi c√°c c·ªôt c√≥ ki·ªÉu d·ªØ li·ªáu non-numeric, ch√∫ng ta s·∫Ω t√≠nh:
* Ph·∫ßn trƒÉm (t·ª´ 0 ƒë·∫øn 100) c·ªßa missing values.
* S·ªë l∆∞·ª£ng gi√° tr·ªã kh√°c nhau.
* Ph·∫ßn trƒÉm m·ªói gi√° tr·ªã (t·ª´ 0 ƒë·∫øn 100) c·ªßa m·ªói gi√° tr·ªã ƒë∆∞·ª£c s·∫Øp x·∫øp gi·∫£m d·∫ßn: Ch√∫ng ta s·ª≠ d·ª•ng dictionary ƒë·ªÉ l∆∞u tr·ªØ, key l√† gi√° tr·ªã, value l√† ph·∫ßn trƒÉm.
Ch√∫ng ta s·∫Ω l∆∞u k·∫øt qu·∫£ v√†o m·ªôt DataFrame 'cat_col_info_df':
* T√™n c·ªôt l√† c√°c c·ªôt non-numeric trong 'raw_df'.
* T√™n c·ªßa d√≤ng l√†: "missing_ratio", "num_values" v√† "value_ratios".

In [19]:
def num_values(series: pd.Series) -> float:
    category_counts = series.value_counts()
    return len(category_counts)

def value_ratios(series: pd.Series) -> dict:
    valuesDict = (series.dropna().value_counts(normalize = True) * 100).sort_values(ascending=False).round(1).to_dict()
    return valuesDict

cat_col_info_df = raw_df.select_dtypes(exclude = 'number').agg([missing_ratio, num_values, value_ratios])

In [20]:
cat_col_info_df

                                               HealthImpactClass
missing_ratio                                                0.0
num_values                                                     5
value_ratios   {0.0: 82.7, 1.0: 10.0, 2.0: 4.7, 3.0: 1.6, 4.0...

### D·ªØ li·ªáu ƒë∆∞·ª£c thu th·∫≠p c√≥ h·ª£p l√Ω ch∆∞a?

ƒê·ªçc ph·∫ßn m√¥ t·∫£ c√°c thu·ªôc t√≠nh, th√¨ tr·ª´ thu·ªôc t√≠nh **Temperture** v√† c√°c thu·ªôc t√≠nh kh√¥ng ph·∫£i ki·ªÉu s·ªë ra th√¨ t·∫•t c·∫£ c√°c thu·ªôc t√≠nh c√≤n l·∫°i ƒë·ªÅu kh√¥ng ƒë∆∞·ª£c nh·ªè h∆°n 0.

In [21]:
num_col_info_df.loc['min'][num_col_info_df.loc['min'] < 0]

Temperature   -9.990998
Name: min, dtype: float64

ƒê·∫øn ƒë√¢y b·ªô d·ªØ li·ªáu c√≥ v·∫ª ƒë√£ t·ªët, ta l∆∞u l·∫°i b·ªô d·ªØ li·ªáu ƒë√£ ƒë∆∞·ª£c l√†m s·∫°ch n√†y v√†o file './data/cleaned_air_quality_health_impact_data.csv'.

In [22]:
save_file_name = './data/cleaned_air_quality_health_impact_data.csv'
raw_df.to_csv(save_file_name, index = False)